body{
	
	font-family: 'Roboto Condensed', sans-serif;
	
}


h1 {
	
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
	color: darkslateblue;
	text-decoration: underline;
	text-decoration-color: brown;
	font-style: italic;
	font-weight: bolder;
	font-size: 5em;
}
h3 {
	font-family: 'Patua One', cursive;
	text-decoration: underline;
	font-weight: bolder;
	font-style: italic;
	color: chartreuse;
	
	
	
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}
label {
	
}
