


body{
	
	font-family: 'Roboto Condensed', sans-serif;
	
}






#titre {
	
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
	color: darkslateblue;
	text-decoration: underline;
	text-decoration-color: brown;
	font-style: italic;
	font-weight: bolder;
	font-size: 5em;
}

#photoprofil
{ 
	border-radius: 25px;
	
	
}

#nomprofil
{
	text-decoration: underline;
	font-family: 'Patua One', cursive;
	text-decoration-color: brown;
	font-style: italic;

	
}

